#footer-con {
    background-color: #000000;
}

#footer-logo {
    display: flex;
    padding: 10px;
    max-width: 100px;
    margin-top: 10px;
}

#top {
    margin-top: 25px;
}

#copyright {
    text-align: center;
}