#header-con {
    top: 0;
    position: sticky;
	z-index: 10;
    background-color: #000000;
}

#main-header {
    padding: 10px;
}

#header-logo {
    margin-left: 10px;
    padding: 10px;
    max-width: 120px;
    &:hover {
        cursor: pointer;
    }
}

#main-nav {
    display: none;
}

#mobile-nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #202020f1;
    z-index: 100;
}

#mobile-nav.display {
    display: block;
}

#mobile-nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#mobile-nav ul li a {
    display: flex;
    font-size: 40px;
    margin-top: 10%;
    color: #fff;
}

#mobile-nav ul li a:hover {
    color:#c9c9c9;
}

#x-button {
    position: absolute;
    font-size: 40px;
    color: #c9c9c9;
    top: 0;
    right: 0;
    padding: 10px 20px 10px 20px;
    margin: 20px;
}

#x-button:hover {
    color: #ffffff;
    cursor: pointer;
}

#main-nav ul li {
    display: inline-block;
    margin-top: 45px;
}

#main-nav ul li a {
    font-size: 18px;
    margin-left: 25px;
    color: #fff;
}

#main-nav ul li a:hover {
    color: #c9c9c9;
}

#burger-menu img {
    padding: 20px;
    max-height: 100px;
}

#burger-menu:hover {
    cursor: pointer;
}

#cart:hover {
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    #header-logo {
        margin-left: 50px;
    }

    #burger-menu {
        display: none;
    }

    #main-nav {
        display: block;
        margin-left: 40px;
    }

    #cart {
        display: inline-block;
        max-width: 60px;
        margin: 20px 20px 0px 0px;
    }
}

@media screen and (min-width: 1366px) {

    #main-nav ul li a {
        font-size: 22px;
    }

}