@use '../abstracts' as a;

#header-con {
    top: 5px;
	position: sticky;
	z-index: 10;
}

#header-logo {
    display: flex;
    margin: 5px;
}

#main-nav {
    display: none;
}

#mobile-nav {
    display: none;
}

#main-nav ul li a {
    font-size: 31px;
    margin-left: 60px;
}

#burger-menu {
    display: flex;
    padding: 10px;
    max-height: 33px;
    justify-content: flex-end;
}

@media screen and (min-width: 768px) {
    #header-logo {
        margin-left: 20px;
    }

    #burger-menu {
        margin-right: 20px;
        margin-left: 20px;
    }
}

@media screen and (min-width: 1366px) {

    #burger-menu {
        display: none;
    }
}