body {
    font-family: "co-text", Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;
}

.title {
    font-family: "dinosaur", Arial, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 40px;
    padding: 25px;
    text-align: center;
}

main p {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
}

@media screen and (min-width: 768px) {
    .title {
        font-size: 50px;
    }
}

@media screen and (min-width: 1366px) {
    .title {
        font-size: 60px;
    }
}