.divider {
    display: flex;
    justify-content: center;
    align-items: center;
}

.divider img {
    height: 50px;
    text-align: center;
}

// #scrolling-con canvas {
//     max-width: 100vw;
//     max-height: 100vh;
// }
// not working!!!

