.divider {
    display: flex;
    justify-content: center;
    align-items: center;
}

.divider img {
    height: 50px;
    text-align: center;
}

#buy-now {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    a {
      color: #000;
      background-color: #fff;
      border-radius: 10px;
    }
    a:hover {
      background-color: #c3e5eb;
    }
}

#xray-mobile-tablet {
  text-align: center;
}

#case-image {
  margin-top: 20px;
}

#case-text {
  display: flex;
  align-items: center;
}

#brand-logo {
  display: flex;
  align-items: center;
  max-width: 300px;
}

#main-footer a {
  color: #c9c9c9;
  &:hover {
    color: #c3e5eb;
  }
}

@media screen and (min-width: 1366px) {
    #xray-mobile-tablet {
        display: none;
    }

    #xray-slider {
        display: grid;
      }

      #xray-con {
        position: relative;
        height: 1080px;
      }

      .xray-img {
        position: absolute;
        left: 0;
        right: 0;
        height: 1080px;
      }

      .right-img {
        background-image: url(../images/display.jpg);
        background-size: cover;
        background-repeat: no-repeat;
      }

      .left-img {
        background-image: url(../images/xray.jpg);
        width: 50%;
        background-size: cover;
        background-repeat: no-repeat;
      }

      .slider {
        background-color: #ffffff;
        left: 50%;
        width: 6px;
        cursor: pointer;
      }

      .divider img {
        height: 90px;
    }
}
